<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit itaque illo expedita sunt quisquam</p> 
    <p>numquam dolores corporis fugiat sed eveniet repudiandae ut cum quia molestias </p>
    <p>voluptatem corrupti, error aut mollitia?</p>
  </div>

</body>
<%- include('../partials/footer.ejs') %>
</html>